<div class="row mx-0">
  <div class="col-12 justify-content-center my-5">
    <img src="assets/images/logo.png" width="100" height="100" alt="Logo RecomiendApp">
  </div>
  <div class="col-12">
    <div class="card m-3">
      <div class="card-body">
        <h4 class="card-title">Iniciar Sesión</h4>

        <div class="form-group">
          <div class="row mx-0 p-2">
            <!--        Iniciamos cuando se haga click en submit -->
            <form class="w-100" [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
              <div class="col-12 p-2">
                <label>Correo</label>
                <input type="text"
                       class="form-control" placeholder="correo" formControlName="email">
              </div>
              <div class="col-12 p-2">
                <label>Contraseña</label>
                <input type="password"
                       class="form-control"  placeholder="contraseña" formControlName="password">

              </div>
              <div class="col-12 mt-3 px-0">
                <button type="submit" class="btn btn-primary w-100">Iniciar</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-12">

    <p>¿No tienes cuenta?</p>
    <p><a [routerLink]="['/register']">Registrate</a></p>
  </div>

</div>


