<!-- Just an image -->
<nav class="navbar navbar-dark bg-dark">
  <a routerLink="/" class="navbar-brand" href="#">
    <img src="assets/images/logo.png" width="30" height="30" alt="Logo RecomiendApp">
  </a>

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
      <ul class="navbar-nav menu">
<!--        Mostramos solo cuando se ha iniciado -->
        <li class="nav-item active" *ngIf="user">
          <a class="nav-link" (click)="showMenu()">{{user.displayName}}</a>
        </li>

          <ul id="showMenu" class="list-unstyled hide" *ngIf="authSvc.userData$ | async; else showLogin">
            <li class="nav-item">
              <a class="nav-link" (click)="showMenu()" routerLink="/admin">Editar</a>
            </li>
            <li class="nav-item" (click)="onLogOut()">
              <a class="nav-link" routerLink="/login">Cerrar sesión</a>
            </li>
          </ul>


        <ng-template #showLogin>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Iniciar</a>
          </li>
        </ng-template>

      </ul>
    </ul>

</nav>
