
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 2%;
  border-top: 2px solid #a7a7a7;
  margin-top: 3rem;
  img {
    max-width: 3rem;
  }
  p {
    font-size: 10pt;
    color: #1d1d1d;
  }
}
